.grid {
    display: flex;

    &Cell {
        border: 0.5px dashed lightgray;
        min-height: 3rem;
        min-width: 3rem;
        padding: 0.5rem;
        margin: 0.25rem 0.125rem;
        text-align: center;

        &--dark {
            background-color: gray;
        }

        &--light {
            background-color: whitesmoke;
        }

        span {
            font-size: 0.75rem;
            color: lightgray;
        }
    }
}