.grid {
    display: flex;

    &Cell {
        border: 0.5px dashed lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0.25rem;
        min-height: 5rem;
        min-width: 5rem;
        padding: 1rem;
        text-align: center;

        &--dark {
            background-color: darkgray;

            span {
                color: whitesmoke

            }
        }

        &--light {
            background-color: whitesmoke;

            span {
                color: darkgrey;
            }

        }

        svg {
            color: darkcyan;
        }

        span {
            font-size: 1rem;
        }
    }
}